<%- include("header", {title: title}); %>
<table>
    <tr>
        <th>ID</th>
        <th>Namn</th>
        <th>Adress</th>
        <th>Telefonnummer</th>
        <th>Antal Produkter</th>
        <th>Status</th>
    </tr>
    <% for (const row of res[0]) { %>
    <tr>
        <td><%= row.id %></td>
        <td><%= row.Namn %></td>
        <td><%= row.Adress %></td>
        <td><%= row.Telefonnummer %></td>
        <td><%= row.Antal %></td>
        <td><%= row.Status %></td>
        <td><button>
            <a href="/eshop/add_to_order/<%= row.id %>">Ändra</a>
        </td>
    </tr>

    <% }; %>
</table>

<p>
    <a href="index">Index</a>
</p>

<%- include("footer"); %>