<%- include("header", {title: title}); %>
<table>
    <tr>
        <th>ID</th>
        <th>Namn</th>
        <th>Kategori</th>
        <th>Pris</th>
        <th>Antal i lager</th>
    </tr>
    <% for (const row of res[0]) { %>
    <tr>
        <td><%= row.produkt_id %></td>
        <td><%= row.namn %></td>
        <td><%= row.kategori %></td>
        <td><%= row.pris %></td>
        <td><%= row.antal %></td>
        <td><a href="/eshop/edit/<%= row.produkt_id %>">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        </td>
        <td><a href="/eshop/delete/<%= row.produkt_id %>">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
        </td>
    </tr>

    <% }; %>
</table>
<button>
    <a href="/eshop/create">Skapa produkt</a>
</button>

<p>
    <a href="index">Index</a>
</p>

<%- include("footer"); %>